{% extends 'main_page/layout.html' %}
{% load static %}
{% block content %}
<main class="container">
    <h1 class="text-md-center mb-5 mt-3">{{ title }}</h1>
    <div class="row">
        {% for post in  posts%}
            <article class="cases__item col-md-3 border offset-1 mb-3">
                <h4 class="h4">{{ post.title }}</h4>
                <img class="img-thumbnail" src="{% static '/private/' %}{{ post.image }}"/>
                <h5 class="h5 text-center">{{ post.preview_text | truncatechars:20 }}</h5>
                <a href="/post/{{ psot.id }}" class="btn btn-info mb-2 offset-3">подробнее</a>
            </article>
        {% endfor %}
    </div>
</main>
{% endblock %}