{% extends 'main_page/layout.html' %}
{% load static %}
{% block content %}
<main class="container">
    <h1 class="h1 text-md-center mb-5 mt-3">{{ case.case_name }}</h1>
    <div class="row mb-5 mt-5">
        <article class="col-lg-6 offset-3">
            <img
                 class="img-fluid mx-auto d-block"
                 src="{% static '/private/' %}{{case.image }}"
                 alt="{{ case.image }}">
            <p class="text-info">{{ case.detail_text }}</p>
            <a href="/cases/" class="btn btn-secondary btn-lg active" role="link"> назад </a>
        </article>
    </div>
</main>
{% endblock %}