{% extends 'main_page/layout.html' %}
{% load static %}
{% block content %}
<main class="container">
    <h1 class="text-md-center mb-5 mt-3">{{ title }}</h1>
    <div class="row">
        {% for case in  cases%}
            <article class="cases__item col-md-3 border offset-1 mb-3">
                <h4 class="h4">{{ case.title }}</h4>
                <img class="img-thumbnail" src="{% static '/private/' %}{{case.image }}"/>
                <h5 class="h5 text-center">{{ case.preview_text | truncatechars:20 }}</h5>
                <a href="/cases/{{ case.id }}" class="btn btn-danger mb-2 offset-3">подробнее</a>
            </article>
        {% endfor %}
    </div>
</main>
{% endblock %}