{% extends 'main_page/layout.html' %}
{% load static %}
{% block content %}
<div class="container">
<h2 class="h2 text-md-center mb-5 mt-3">Превью статей</h2>
    <section class="articles row">
        {% for post in posts %}
            <article class="articles__item col-md-3 border offset-1 mb-3">
                <h4 class="h4">{{ post.title }}</h4>
                <h5 class="badge">{{ post.desc }}</h5>
                <p>{{ post.body | truncatechars:50 }}</p>
            </article>
        {% endfor %}
    </section>
<h2 class="h2 text-md-center mb-5 mt-3">Превью Кейсов</h2>
    <section class="cases row">
        {% for case in cases %}
            <article class="cases__item col-md-3 border offset-1 mb-3">
                <h4 class="h4">{{ case.title }}</h4>
                <img class="img-thumbnail" src="{% static '/private/' %}{{case.image }}"/>
                <h5 class="badge">{{ case.preview_text }}</h5>
                <p>{{ case.detail_text | truncatechars:50 }}</p>
            </article>
        {% endfor %}
    </section>
    <a class="btn btn-dark btn-light float-right" href="/admin/">В админку</a>
    <a class="btn btn-primary float-right" style="margin-right: 10px" href="/cases/">Кейсы</a>
    <a class="btn btn-primary float-right" style="margin-right: 10px" href="/posts/">Блог</a>
</div>
{% endblock %}